@model IEnumerable<test_asp_mvc2.Models.LoaiKhachHang>

@{
    ViewBag.Title = "DanhSachLoaiKhacHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachLoaiKhacHang</h2>

<p>
    @Html.ActionLink("them loai khach hang ne`", "ThemLoaiKhachHang")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhanLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhanLoai)
        </td>
        <td>
            @Html.ActionLink("cap nhat", "CapNhatLoaiKhachHang", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xoa loai khach hang", "Xoa", new { id=item.ID })
        </td>
    </tr>
}

</table>
